src/submission/**
src/submission/*
src/submission
/image/svg/*
/image/*.swp
tags
src/tags
img/*
img/**
log/*.log
log/**
src/*.swp
src/*.swm
src/*.swn
src/*.sw*
src/*.swp
src/*.log
src/*.o
src/ispd19dr
src/object
eval/*
eval/**
src/*.txt
src/backup/*
src/gmon.out
src/.nfs*
src/.nfs**
src/cada0021
src/cada0021.tar.gz
src/iccad19gr
bench
output
.nfs*
gmon.out
*.txt
*.dat
*.input
*.lp
*.lef
*.def       
*.o   
*.swp
ispd19dr
